@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p, a, span {
  font-family: 'Inter', sans-serif;
}

ol, ul, li {
  list-style: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  cursor: pointer;
  color: #050038;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  width: 180px;
  height: 50px;
  background: #FFF;
  border-radius: 30px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.button:hover {
  color: #FFF;
  background: #0555FF;
}

.header__but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.header__button:nth-child(2) {
  color: #FFF;
  background: #0555FF;
}

.header__menu {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  cursor: pointer;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin: 0 20px 0 0;
}

.nav .nav_link {
  margin-left: 65px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #050038;
  border-bottom: 2px solid #FFF;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.nav .nav_link:first-child {
  margin-left: 0px;
}

.nav .nav_link:hover {
  border-bottom: 2px solid #0555FF;
}

.burger__menu {
  display: none;
}

@media (max-width: 1062px) {
  .nav .nav_link {
    margin-left: 40px;
  }
}

@media (max-width: 962px) {
  .header__logo {
    margin-right: 0;
  }
  .nav {
    display: none;
  }
  .burger__menu {
    display: block;
    position: relative;
    cursor: pointer;
    min-width: 40px;
    height: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #000000;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .burger__menu::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: #000000;
    bottom: -10px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .burger__menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: #000000;
    top: -10px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .burger__menu.active {
    width: 0;
    height: 0;
  }
  .burger__menu.active::after {
    bottom: -4px;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .burger__menu.active::before {
    top: -4px;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header__but {
    display: none;
  }
}

.intro__text {
  margin: 0 auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__title {
  max-width: 953px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 120px;
  color: #050038;
}

.intro__subtitle {
  max-width: 705px;
  text-align: center;
  margin-top: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #5B5E6D;
}

.intro__but {
  max-width: 480px;
  margin: 40px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.intro__but .intro__button {
  font-size: 20px;
  line-height: 24px;
}

.intro__but .intro__button:nth-child(1) {
  color: #FFF;
  background: #0555FF;
}

.intro__img img {
  width: 100%;
}

.intro__brands {
  margin: 150px 0 165px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__brands .intro__brands-subtitle {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5B5E6D;
}

.intro__brands .intro__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 52px;
}

.introduction__content {
  margin-bottom: 150px;
}

.introduction__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.introduction__text .introduction__title {
  max-width: 900px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 53px;
  text-align: center;
  color: #050038;
}

.introduction__text .introduction__subtitle {
  margin: 30px 0 50px 0;
  max-width: 780px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #5B5E6D;
}

.introduction__text .introduction__button {
  position: relative;
  width: 245px;
  height: 50px;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: #0555FF;
  background: rgba(5, 85, 255, 0.1);
  padding: 9px 25px 9px 59px;
  text-align: center;
}

.introduction__text .introduction__button::before {
  content: '!';
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: #0555FF;
  top: 10px;
  left: 22px;
  background: #FFFFFF;
}

.introduction__text .introduction__button:hover {
  background: #0555FF;
  color: #FFF;
}

.build__content,
.update__content,
.develop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 120px;
  margin-bottom: 150px;
}

@media (max-width: 767px) {
  .build__content,
  .update__content,
  .develop__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.develop__text,
.build__text,
.update__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.develop__text .develop__title,
.develop__text .build__title,
.develop__text .update__title,
.build__text .develop__title,
.build__text .build__title,
.build__text .update__title,
.update__text .develop__title,
.update__text .build__title,
.update__text .update__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 91px;
  text-align: center;
  color: #050038;
}

.develop__text .develop__subtitle,
.develop__text .build__subtitle,
.develop__text .update__subtitle,
.build__text .develop__subtitle,
.build__text .build__subtitle,
.build__text .update__subtitle,
.update__text .develop__subtitle,
.update__text .build__subtitle,
.update__text .update__subtitle {
  max-width: 510px;
  margin: 30px 0 40px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #5B5E6D;
}

.develop__text .develop__btn,
.develop__text .build__btn,
.develop__text .update__btn,
.build__text .develop__btn,
.build__text .build__btn,
.build__text .update__btn,
.update__text .develop__btn,
.update__text .build__btn,
.update__text .update__btn {
  cursor: pointer;
  border-bottom: 2px solid #0555FF;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.develop__card,
.build__card,
.update__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  padding-right: 20px;
  position: relative;
  z-index: 10;
}

.develop__card::before,
.update__card::before {
  content: '';
  position: absolute;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  top: 32px;
  right: -35px;
  background: #6FDAC0;
  z-index: 1;
}

.develop__card::after,
.update__card::after {
  content: '';
  position: absolute;
  width: 188px;
  height: 98px;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  right: -50px;
  bottom: -60px;
  background: #FF9D0A;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
}

.card img {
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 100;
  -webkit-filter: drop-shadow(-20px 20px 60px rgba(121, 164, 255, 0.3));
          filter: drop-shadow(-20px 20px 60px rgba(121, 164, 255, 0.3));
}

.card::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 160px;
  bottom: -60px;
  left: -53px;
  background-image: url(/img/setka.jpg);
  z-index: 1;
}

.card::after {
  content: '';
  position: absolute;
  width: 235px;
  height: 480px;
  right: 0px;
  top: 0;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  z-index: 1;
}

.build__content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 767px) {
  .build__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card-build {
  padding-left: 20px;
  z-index: 10;
}

.card-build img {
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 100;
  -webkit-filter: drop-shadow(-20px 20px 60px rgba(121, 164, 255, 0.3));
          filter: drop-shadow(-20px 20px 60px rgba(121, 164, 255, 0.3));
}

.build__card::before {
  content: '';
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  top: 32px;
  left: -55px;
  background: #6FDAC0;
  z-index: 1;
}

.build__card::after {
  content: '';
  position: absolute;
  width: 188px;
  height: 98px;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  left: -85px;
  bottom: -50px;
  background: #FF9D0A;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 1;
}

.card-build::after {
  content: '';
  position: absolute;
  width: 235px;
  height: 480px;
  left: 0px;
  top: 0;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  z-index: 1;
}

.card-build::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 160px;
  bottom: -60px;
  right: -53px;
  background-image: url(/img/setka.jpg);
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  z-index: 1;
}

.testimonials {
  background: #F8F8FA;
}

.testimonials__all {
  padding: 150px 0 150px 0;
}

.testimonials__head {
  text-align: center;
}

.testimonials__head .testimonials__span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #5B5E6D;
}

.testimonials__head .testimonials__title {
  margin: 40px 0 70px 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  color: #050038;
}

.testimonials__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1186px) {
  .testimonials__body {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 792px) {
  .testimonials__body {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.testimonials__card {
  max-width: 420px;
  height: 370px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.testimonials__content {
  padding: 20px;
}

.testimonials__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.testimonials__card__info .testimonials__card__info-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.testimonials__card__info .testimonials__card__info-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.testimonials__card__info .testimonials__card__info-information .testimonials__card__info-name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #050038;
  position: relative;
}

.testimonials__card__info .testimonials__card__info-information .testimonials__card__info-name::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 16px;
  background-image: url(/img/DONE.jpg);
  z-index: 1;
  top: 4px;
  right: 25px;
}

.testimonials__card__info .testimonials__card__info-information .bri::after,
.testimonials__card__info .testimonials__card__info-information .carol::after,
.testimonials__card__info .testimonials__card__info-information .wes::after,
.testimonials__card__info .testimonials__card__info-information .traver::after {
  content: '';
  display: none;
}

.testimonials__card__info .testimonials__card__info-information .testimonials__card__info-name-nik {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #596068;
}

.testimonials__card__info .testimonials__card__info-name-social {
  width: 100%;
  text-align: right;
}

.testimonials__card__info .testimonials__card__info-name-social .testimonials__card__info-name-social-img {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.testimonials__card__text > p:nth-child(1) {
  padding-bottom: 15px;
}

.testimonials__card__text .testimonials__card-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  color: #050038;
}

@media (max-width: 792px) {
  .testimonials__card__text .testimonials__card-subtitle {
    font-size: 13px;
  }
}

.footer {
  background-image: url(./img/footer.png);
}

.footer__content {
  position: relative;
  padding-bottom: 70px;
}

.footer__content::before {
  content: '';
  position: absolute;
  width: 188px;
  height: 98px;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  left: -80px;
  top: 30px;
  background: #FF9D0A;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  z-index: 1;
}

@media (max-width: 480px) {
  .footer__content::before {
    display: none;
  }
}

.footer__content::after {
  content: '';
  position: absolute;
  width: 188px;
  height: 98px;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  right: 0;
  top: 0;
  background: #0555FF;
  z-index: 1;
}

.footer__content__head {
  margin: 0 auto;
  max-width: 748px;
  padding: 150px 0;
}

.footer__content__head-title {
  max-width: 630px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 85px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}

.footer__content__head-form {
  margin-top: 40px;
  position: relative;
  width: 100%;
}

.footer__content__head-form input[type="search"]::-webkit-search-decoration,
.footer__content__head-form input[type="search"]::-webkit-search-cancel-button,
.footer__content__head-form input[type="search"]::-webkit-search-results-button,
.footer__content__head-form input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.footer__content__head-form input {
  width: 100%;
  padding-left: 30px;
  background: none;
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 32px;
  color: #C1C1C1;
  outline: none;
  -webkit-touch-callout: none;
}

@media (max-width: 480px) {
  .footer__content__head-form input {
    font-size: 0.95rem;
  }
}

.footer__content__head-form button {
  position: absolute;
  top: 0;
  right: 0px;
  padding: 24px 50px;
  height: 80px;
  width: 221px;
  background: #0555FF;
  border-radius: 0px 10px 10px 0px;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 32px;
  color: #FFFFFF;
  cursor: pointer;
}

@media (max-width: 480px) {
  .footer__content__head-form button {
    font-size: 0.95rem;
    width: 150px;
    padding: 0;
  }
}

.footer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 311px;
  height: 214px;
}

.footer__footer-info .footer__footer-info-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #FFF;
  margin-bottom: 33px;
}

.footer__footer-info .footer__footer-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__footer-info .footer__footer-info-text p, .footer__footer-info .footer__footer-info-text a {
  color: #7884A6;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.footer__footer-about-info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 19px;
}

.footer__footer-about-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__footer-about-info-list a {
  font-weight: 400;
  font-size: 16px;
  line-height: 42px;
  color: #7884A6;
}

.footer__end {
  padding-bottom: 25px;
}

.footer__end p {
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
